alembic
bcrypt
blinker
cachelib
certifi
cffi
charset
click
colorama
cors
filelock
Flask
future
gevent
greenlet
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mysqlclient
pycparser
pypng
PySocks
qrcode
redis
requests
requests
six
SQLAlchemy
tldextract
typing_extensions
urllib3
Werkzeug
zope.event
zope.interface
waitress